
#login-form{
	background-color: #fff;
/*	-webkit-border-radius: 5px;
			border-radius: 5px;*/
	margin: 0px;
	width: 220px;
	position:relative;
/*	top:-4px;*/
	height: 205px;
}


#login-form h1 {
	background-color: #282830;
/*	-webkit-border-radius: 5px 5px 0px 0px;
			    border-radius: 5px 5px 0px 0px;*/
	color: #fff;
	font-size: 14px;
	padding: 20px; 
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	border: none;
/*	padding: 20px; */
	position: relative;
}

/*cache tout ce qui d»passe*/
#login-form fieldset form {
	overflow: hidden;
	width: 210px;
}

#login-form fieldset form input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	outline: none;
}

#login-form fieldset form input[type="email"] {
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 3px ;
			    border-radius: 3px ;
	padding: 12px 10px;
	width: 180px;
	margin-left : 8px;
}

#login-form fieldset form input[type="password"] {
	border: 1px solid #dcdcdc;
/*	border-top: none;	*/
	-webkit-border-radius: 3px;
			    border-radius: 3px;
	padding: 12px 10px;
	width: 180px;
	margin-left : 8px;
}

#login-form fieldset form input[type="submit"] {
	background-color: #1dabb8;
	border: none;
	-webkit-border-radius: 3px;
			    border-radius: 3px;
	color: #fff;
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin-top: 10px;
	padding: 12px 15px;
	margin-right : 4px;
}

#login-form fieldset form input[type="submit"]:hover {
	background-color: #198d98;
}


#login-form fieldset form span {

	float: left;
	margin-top: -1em;
/*	margin-top: -15px;	*/	
	margin-left: 2em;
}

#login-form fieldset form span a{
	font-size: 0.75em;
	color: #999999;
	text-decoration: none;	
}

#login-form fieldset form span a:hover {
	color: #1dabb8;
}