/************************************************/
/*					CSS de A2DOC				*/
/*						HOME					*/
/*					Maxime Eloy					*/
/************************************************/

body{
	font-family:arial;
	margin:0;
	padding:0;
	background: url(../img/background/spray2.jpg) no-repeat center fixed;
/*	background-color :#FFFFFF; /*
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	
}




/************************************************/
/*					le menu						*/
/************************************************/


nav li{
	display: inline;
	margin-top: 1.2em;
	opacity: 1;
	-webkit-box-shadow: 1px 1px 2px 2px #7f7f7f;
box-shadow: 1px 1px 2px 2px #7f7f7f;
/*	-webkit-border-radius: 20px;
	border-radius: 20px;	*/
	position: relative;
	top: 13em;	/* position du bloc des quatre dalles */
	
	
}

nav li#presentation{
	background-color:#CC0033;	/* rouge	*/
}
nav li#communaute{
	background-color:#009933;	/* vert	*/
}
nav li#contact{
	background-color:#0033CC;	/* bleu	*/
}
nav li#cvtheque{
	background-color:#CCCC00;	/* jaune	*/
}


nav li:hover{
	opacity: 1;		
}







nav li a, p#communaute{
	
	display: block;
	font-family: arial, sans-serif;
	font-size: 1.5em;/*1.6em*/
/*	padding-top: 70%;/*4em*/
/*	padding-top: 40%;
	padding-bottom: 40%;	*/
	padding: 40% 0 40%;
/*	height: 5em;/*5em*/	/*hauteur du carré*/
	text-align: center;	
	color: #000;
	text-shadow: 1px 1px 5px #cecece;

	
	
}


/************************************************/
/*					fin menu					*/
/************************************************/



a{
	text-decoration:none;

}

