/************************************************/
/*					CSS de A2DOC				*/
/*					pages internes				*/
/*					Maxime Eloy					*/
/************************************************/


body{
	font-family:arial;
	margin:0;
	padding:0;
	/*background: url(../img/background/comb5.jpg) no-repeat center fixed; */
	background-color :#DCDCDC  ; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	font-size: 62.5%; /*1em=10px*/
	font-family: Arial, sans-serif;
}

body.container_12{	
	border-right:3px solid;
	border-left:3px solid;	
	border-color:#2F5AAB;	
}

    #myButton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
        -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
        box-shadow:inset 0px 1px 0px 0px #54a3f7;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
        background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
        background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
        
        background-color:#007dc1;
        
        -moz-border-radius:9px;
        -webkit-border-radius:9px;
        border-radius:9px;
        
        border:1px solid #124d77;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:14px;
        font-weight:normal;
        padding:9px 25px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #154682;
        text-align:center;
        
    }
    #myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
        background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
        
        background-color:#0061a7;
    }


a.mybutton {
	text-align:center;
	
}

 #popup {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	
	width: 200px;
	height: 160px;
	
	margin: -115px 0 0 -95px;
	padding: 15px;
	
	border: 2px solid #333;
	background-color: #fff;
	}

.section_CV{
	color :#000000;
	position:relative;
	text-align:left;
	padding-bottom : 15px;
	border-bottom :5px solid #0061a7;
	font-size:  20px ;
	margin-bottom : 20px;
	margin-top : 1em ;	
}

section#News{
	background-color:#FFFFFF;
	padding : 25px;
	position : relative;
	margin-top : 1em ;
	border-radius: 1em;
	box-shadow: 0 5px 5px rgba(0,0,0, .4);
	opacity: 0.75;
}

section#Forums_track{
	background-color:#FFFFFF;
	padding : 25px;
	position : absolute;
	top :520px ;
	margin : 20px ;
	border-radius: 1em;
	box-shadow: 0 5px 5px rgba(0,0,0, .4);
	opacity: 0.75;
}


section#agenda{
	background-color:#FFFFFF;
	position : relative;
	margin-top : 1em;
	right : 0px ;
	padding : 20px;
	height : auto ;
	border-radius: 1em;
	box-shadow: 0 5px 5px rgba(0,0,0, .4);
	opacity: 0.75;
}



h1.dalle_title{
	color :#000000;
	text-align:center;
	padding-bottom : 15px;
	border-bottom :5px solid #0061a7;
	font-size:  20px ;
	margin-bottom : 20px; 
	
}

p.dalle_title{
	font-size: 1em;
	color: #000000;
	text-indent: 0;
}

h1{
	font-size: 2em;
	color: #fff;
	text-align:center;
	top: 0.5em;
	text-shadow: 1px 1px 10px #fff;
}

h2{
	font-size: 1.8em;
	color: #2F5AAB;
	padding: 1.5em 0 1em;
} 

a{
	text-decoration: none;
}


p{
	font-size: 2.3em;
	color: #000000;
	text-indent: 1em;
	padding-bottom: 3em;
	border-bottom: 1px solid #4f4f4f;
}
p.nobordure{
	border-bottom: none
}

/********************************************************/	
/*					HEADER	MENU						*/	
/********************************************************/


nav{
	position: relative;
	top: 2em;
	display: block;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	
	font-family: arial, helvetica, sans-serif;
	font-size: 1.3em;
 }
 
 nav li{
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
 }

nav ul{
	   position : relative;
	   margin-left: auto;	
	   margin-right:auto;
	   width: 450px
}

nav a{
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	
/*	border-radius: 1.6em;	/*tour des liens*/
/*		-webkit-border-radius: 0.6em;
		-moz-border-radius: 0.6em;
*/		
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}

nav a:hover {
	background: #0061a7;
	/*color: #CECECE;
	box-shadow: 0 1px 3px rgba(0,0,0, .4);*/
	border-bottom: 4px solid #3399FF ;
}

header{
	display: block;
	position: relative;
	height: 100px ;	
	
	background: #0061a7; /* Old browsers */
/*background: -moz-linear-gradient(left, rgba(63,53,255,0)  0%,  rgba(63,53,255,0.5) 30%, rgba(63,53,255,0.5) 70%, rgba(63,53,255,0) 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(63,53,255,0)), color-stop(30%,rgba(63,53,255,0.5)),color-stop(70%,rgba(63,53,255,0.5)), color-stop(100%,rgba(63,53,255,0))); /* Chrome,Safari4+ */

/*background: -webkit-linear-gradient(left,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(left,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* IE10+ */
/*background: linear-gradient(to right,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
}
