/**********feuille CSS de TroaLed**************************/

body{
/*	background-color: #f0f0f0;*/	

background-image: url(../img/comb5.jpg); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NiUiIHN0b3AtY29sb3I9IiMxNjE5MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #000000 61%, #161918 76%, #000000 88%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(61%,#000000), color-stop(76%,#161918), color-stop(88%,#000000)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #000000 61%,#161918 76%,#000000 88%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #000000 61%,#161918 76%,#000000 88%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #000000 61%,#161918 76%,#000000 88%); /* IE10+ */
/*background: linear-gradient(top,  #000000 61%,#161918 76%,#000000 88%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

	position: relative;
	font-size: 62.5%; /*1em=10px*/
	font-family: Arial, sans-serif;
}




header{
	display: block;
	position: relative;
	width: 900px ;
	height: 100px ;	
	
	background: #999999; /* Old browsers */
background: -moz-linear-gradient(left, rgba(255,255,255,0)  0%,  rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 70%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(30%,rgba(0,0,0,0.5)),color-stop(70%,rgba(0,0,0,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(left,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(left,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* IE10+ */
/*background: linear-gradient(to right,  #999999 0%,#c9c9c9 0%,#000000 50%,#c9c9c9 100%,#e5e5e5 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */

	

}

section#main{
	position : absolute;
	top : 100px;
	width: 900px ;	
	height : 1000px;
}



section#containNews{
		width: 450px ;
		height : 420px;
		display : table-cell ;
	    vertical-align: middle;
}

section#News{
	background-color:#FFFFFF;
	padding : 25px;
	position : relative;
	width: 350px ;
	margin : auto ;
	border-radius: 1em;
	box-shadow: 0 5px 5px rgba(0,0,0, .4);
	opacity: 0.75;
}

section#Forums_track{
	background-color:#FFFFFF;
	padding : 25px;
	position : absolute;
	top :420px ;
	width: auto ;
	margin : 20px ;
	border-radius: 1em;
	box-shadow: 0 5px 5px rgba(0,0,0, .4);
	opacity: 0.75;
}


section#agenda{
	background-color:#FFFFFF;
	position : absolute;
	top : 0px;
	right : 0px ;
	margin :20px;
	padding : 20px;
	width : 350px ;
	height : auto ;
	border-radius: 1em;
	box-shadow: 0 5px 5px rgba(0,0,0, .4);
	opacity: 0.75;
}




div#wrapper{
	
	display: block;
	position: relative;
	margin-left : auto ;
	margin-right: auto;
	width: 900px ;		
}



h1.dalle_title{
	color :#000000;
	text-align:center;
	padding-bottom : 15px;
	border-bottom :5px solid #E2830F;
	font-size:  20px ;
	margin-bottom : 20px; 
	
}

p.dalle_title{
	font-size: 1em;
	color: #000000;
	text-indent: 0;
}

h1{
	font-size: 2em;
	color: #fff;
	text-align:center;
	top: 0.5em;
	text-shadow: 1px 1px 10px #fff;
}

h2{
	font-size: 1.8em;
	color: #2F5AAB;
	padding: 1.5em 0 1em;
} 

a{
	text-decoration: none;
}


p{
	font-size: 2.3em;
	color: #000000;
	text-indent: 1em;
	padding-bottom: 3em;
	border-bottom: 1px solid #4f4f4f;
}
p.nobordure{
	border-bottom: none
}
